<div class="message">

  <div class="message-full col s8 offset-s2">
    <h4><%= message.title %></strong></h4>
    <p style="font-size:1.25em;"><%= message.body %></p>
    <p style="font-weight: bold;"><%= message.user.first_name %></p>
    <p style="font-style:italic;">
      Posted:  <%= message.updated_at.to_formatted_s(:long)  %>
    </p>

    <% if current_user && current_user.id == message.user_id %>
    <div class="row">
      <div class="col s2">
        <%= link_to 'Edit Topic', edit_message_path(@message) %>
      </div>
      <div class="col s2">
        <%= link_to 'Delete Topic', message_path(@message),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>

    <% if message.tags %>
    <div class="tags row">
      <div class="col s11 offset-s1"
        <span style="font-weight:bold;">Tags:</span>
        <% message.tags.each do |tag| %>
        <button type="button" class="tag-btn" id=<%= tag.id %> value=<%= tag.title %> >
          <%= tag.title %>    (<%= tag.count %>)
        </button>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="add-tag-form">
      <form class="" action="/tags" method="post">
        <table>
          <tr>
            <td><input type="text" name="tag[title]" placeholder="Tag..."></td>
            <input type="hidden" name="tag[message_id]" value=<%=message.id %> >
            <input type="hidden" name="tag[count]" value=1 >
            <td><button type="submit" name="submit">Add Tag</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>

  <p style="font-size:1.15em;"><strong>Reply:</strong></p>
  <%= render 'comments/form' %>

  <h5>Replies</h5>
  <% message.comments.each do |comment| %>
    <% if comment.body %>
      <%= render comment %>
    <% end %>
  <% end %>

</div>
