<div class="message">

  <h4><%= message.title %></strong></h4>
  <p style="font-size:1.25em;"><%= message.body %></p>
  <p style="font-size:1.10em;"><%= message.user.first_name %></p>

  <% if current_user && current_user.id == message.user_id %>
  <div class="row">
    <div class="col s2">
      <%= link_to 'Edit Topic', edit_message_path(@message) %>
    </div>
    <div class="col s2">
      <%= link_to 'Delete Topic', message_path(@message),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>

  <br><br><hr>
  <p style="font-size:1.15em;"><strong>Reply:</strong></p>
  <%= render 'comments/form' %>

  <h5>Replies</h5>
  <% message.comments.each do |comment| %>
    <% if comment.body %>
      <%= render comment %>
    <% end %>
  <% end %>

</div>
