<%= form_tag '/login' do %>

  <% if @errors %>
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>
<div class="input-field">
  Email: <%= text_field_tag :email %>
</div>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit", class: "waves-effect waves-light btn blue lighten-2" %>

<% end %>
