<div class="comment-full container" style="margin-bottom: 15px;">
  <div class="comment-body row">
    <div class="col s10 offset-s1">
      <%= comment.body %><br/ >
    </div>
  </div>

  <div class="comment-author row">
    <div class="col s9 offset-s2">
      <p><%= comment.user.first_name %></p>
        <% if current_user == comment.user %>
          <%= "<p>" %>
            <%= link_to 'Edit Comment', edit_message_comment_path(@message, comment) %>  |
            <%= link_to 'Delete Comment', message_comment_path(@message, comment), method: :delete, data: {confirm: 'Are you sure?' } %>
          <%= "</p>" %>
        <% end %>
    </div>
  </div>
</div>
