<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<div id=new-form>
<%= form_for(@user) do |f| %>
  <%= f.label(:first_name, "first name") %>
  <%= f.text_field(:first_name) %>

  <%= f.label(:last_name, "last name") %>
  <%= f.text_field(:last_name) %>

  <%= f.label(:email,"email") %>
  <%= f.text_field(:email) %>

  <%= f.label(:password,"password") %>
  <%= f.password_field(:password) %>

  <%= f.label(:password_confirmation,"password confimation") %>
  <%= f.password_field(:password_confirmation) %>

  You are a:<br>
  <%= f.radio_button :user_type, 'student' %> 
  <%= f.label :user_type, 'Student', :value => 'student' %>
  <br>
  <%= f.radio_button :user_type, 'parent' %>
  <%= f.label :user_type, 'Parent', :value => 'parent' %>
  <br>

  <%= f.label(:phone_number,"phone number") %>
  <%= f.number_field(:phone_number) %>

  <%= f.label(:street_address, "street address") %>
  <%= f.text_field(:street_address) %>

  <%= f.label(:city,"city") %>
  <%= f.text_field(:city) %>

  <%= f.label(:state,"state") %>
  <%= f.text_field(:state) %>

  <%= f.label(:zip_code,"zip code") %>
  <%= f.number_field(:zip_code) %>

  Lang Preference:<br>
  <%= f.radio_button :lang_preference, 'spanish' %> 
  <%= f.label :lang_preference, 'Spanish', :value => 'spanish' %>
  <br>
  <%= f.radio_button :lang_preference, 'english' %>
  <%= f.label :lang_preference, 'English', :value => 'english' %>
  <br>
  <br>
  Grade Level:<br>
  <%= f.radio_button :grade_level, 9 %> 
  <%= f.label :grade_level, '9th', :value => 9 %>
  <br>
  <%= f.radio_button :grade_level, 10 %> 
  <%= f.label :grade_level, '10th', :value => 10 %>
  <br>
  <%= f.radio_button :grade_level, 11 %> 
  <%= f.label :grade_level, '11th', :value => 11 %>
  <br>
  <%= f.radio_button :grade_level, 12 %> 
  <%= f.label :grade_level, '12th', :value => 12 %>
  <br>
  <br>
<%= submit_tag "Submit", class: 'btn orange darken-1' %>
<% end %>
</div>
