<h1>welcome to coco: the college counselor </h1>

 <%= link_to 'Chat Room', chats_path %>  |  
 <%= link_to 'A-G Requirements Information', agrequirements_path %>  |  
 <%= link_to 'Application Information', applications_path %>  |  
 <%= link_to 'SAT Information', sats_path %>  |  
 <%= link_to 'Forum', messages_path %>