<h2>Event Details</h2>
<hr>
.
<h4>Here are details for your upcoming SAT:</h4>


<b>Date:</b> <%= @event.sat.date %><br>
<b>Location:</b> <%= @event.sat.location_name %><br>
<b>Address:</b> <%= @event.sat.address %><br>

<input type="hidden" id="sat_lat" value=<%= @event.sat.latitude%>>
<input type="hidden" id="sat_long" value=<%= @event.sat.longitude%>>

<div class="row">
  <div class="map col s6", id="small_map">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAP']%>&callback=initialize"></script>
  </div>
</div>
  <div id="directionsPanel" class="col s6"></div>
  <h5>Click on an address for directions to the site.</h5>
  <%= link_to 'Delete Event', user_event_path(current_user.id, @event), method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to 'Edit Event', edit_user_event_path(current_user.id, @event) %>
</div>
