<nav>
  <div class="row">
  <div class="nav-wrapper grid-example col s12 z-depth-3">
  	<ul class="center">
		<% if current_user %>
			<li><%= link_to "Your profile", user_path(current_user) %></li>
		  <li><%= link_to 'Home', root_path %></li> 
		  <li><%= link_to 'Log Out', logout_path, method: "delete" %></li>
		<% else %>  
		  	<li><%= link_to 'Home', root_path %></li> 
		  	<li><%= link_to 'Log In', login_path %></li>  
		  	<li><%= link_to 'Sign Up', signup_path %></li>
		<% end %>
		</ul>
	</div>
  </div>
</nav>
