<nav>
  <div class="nav-wrapper col s6">
  	<ul class="left hide-on-med-and-down">
		<% if current_user %>
			<li><%= link_to "Your profile", user_path(current_user) %></li>
		  <li><%= link_to 'Home', root_path %></li> 
		  <li><%= link_to 'Log Out', logout_path, method: "delete" %></li>
		<% else %>  
		  	<li><%= link_to 'Home', root_path %></li> 
		  	<li><%= link_to 'Log In', login_path %></li>  
		  	<li><%= link_to 'Sign Up', signup_path %></li>
		<% end %>
		</ul>
	</div>
</nav>
<table>
  <tr>
    <td>
      <%= button_to 'SAT Information', sats_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
    <td>
      <%= button_to 'Application Information', applications_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
    <td>
      <%= button_to 'A-G Requirements', agrequirements_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
    <td>
      <%= button_to 'Chat Room', chats_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
    <td>
      <%= button_to 'Forums', messages_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
  </tr>
</table>
<hr>
