
<div class="container grid-example col s12 z-depth-5">
  <table class="responsive-table">
  <tr>
    <td>
      <%= button_to 'SAT Information', sats_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
    <td>
      <%= button_to 'Application Information', applications_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
    <td>
      <%= button_to 'A-G Requirements', agrequirements_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
    <td>
      <%= button_to 'Chat Room', chats_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
    <td>
      <%= button_to 'Forums', messages_path, :class => "waves-effect waves-light btn", :method => :get %></li>
    </td>
  </tr>
  </table>
</div>